# Ignore environment file (Contains sensitive credentials)
.env
.env.backup
.env.production

# Ignore Composer dependencies
/vendor

# Ignore storage folder (logs, cache, uploads)
app/Storage/*
!app/Storage/.gitignore
private-uploads/*
!private-uploads/.gitignore

# Ignore Bootstrap Cache (Route cache, etc)
bootstrap/cache/*
!bootstrap/cache/.gitignore

# Ignore system files
*.log
*.tmp
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore IDE specific files
.idea
.vscode
*.swp
*.swo
